.elementor-1278 .elementor-element.elementor-element-55a7d4d{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-3b3a831:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-3b3a831 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F8FF;}.elementor-1278 .elementor-element.elementor-element-3b3a831{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-24px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-3b3a831 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1278 .elementor-element.elementor-element-64f390:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1278 .elementor-element.elementor-element-64f390 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-64f390 > .elementor-element-populated{box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1278 .elementor-element.elementor-element-64f390 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(16px/2);}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(16px/2);}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(16px/2);margin-left:calc(16px/2);}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-16px/2);margin-left:calc(-16px/2);}body.rtl .elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-16px/2);}body:not(.rtl) .elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-16px/2);}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-item:not(:last-child):after{content:"";border-color:#ddd;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:1px;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:1px;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-1278 .elementor-element.elementor-element-5239e88a{--e-icon-list-icon-size:20px;--icon-vertical-offset:0px;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-item > a{font-size:14px;font-weight:600;}.elementor-1278 .elementor-element.elementor-element-5239e88a .elementor-icon-list-text{color:#000000;transition:color 0.3s;}.elementor-bc-flex-widget .elementor-1278 .elementor-element.elementor-element-46b37619.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-1278 .elementor-element.elementor-element-46b37619.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-1278 .elementor-element.elementor-element-46b37619:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1278 .elementor-element.elementor-element-46b37619 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#C10930;}.elementor-1278 .elementor-element.elementor-element-46b37619 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1278 .elementor-element.elementor-element-46b37619 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1278 .elementor-element.elementor-element-65b13f81.elementor-position-right .elementor-image-box-img{margin-left:14px;}.elementor-1278 .elementor-element.elementor-element-65b13f81.elementor-position-left .elementor-image-box-img{margin-right:14px;}.elementor-1278 .elementor-element.elementor-element-65b13f81.elementor-position-top .elementor-image-box-img{margin-bottom:14px;}.elementor-1278 .elementor-element.elementor-element-65b13f81 .elementor-image-box-title{margin-bottom:0px;}.elementor-1278 .elementor-element.elementor-element-65b13f81 .elementor-image-box-wrapper .elementor-image-box-img{width:22%;}.elementor-1278 .elementor-element.elementor-element-65b13f81 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-1278 .elementor-element.elementor-element-1332a72e > .elementor-element-populated, .elementor-1278 .elementor-element.elementor-element-1332a72e > .elementor-element-populated > .elementor-background-overlay, .elementor-1278 .elementor-element.elementor-element-1332a72e > .elementor-background-slideshow{border-radius:8px 8px 8px 8px;}.elementor-1278 .elementor-element.elementor-element-1332a72e > .elementor-element-populated{box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.2);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1278 .elementor-element.elementor-element-1332a72e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1278 .elementor-element.elementor-element-286c370d{--display:flex;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-1f4ad896{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-1f4ad896:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-1f4ad896 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-1f4ad896, .elementor-1278 .elementor-element.elementor-element-1f4ad896::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-70cc8cb5{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-256604e5 .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-256604e5 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-256604e5 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-256604e5{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-749b89e6{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-351a0fa7{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2ca58854 .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-2ca58854 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-2ca58854 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-2ca58854 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-59e40698{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-791df9b5{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-e242213 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-47bc8853{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-28c37ec1{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-28c37ec1:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-28c37ec1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-28c37ec1, .elementor-1278 .elementor-element.elementor-element-28c37ec1::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-c244360{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-1b7add33 .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-1b7add33 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-1b7add33 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-1b7add33{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-5b8a1d4c{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-4901d4a0{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-7d0b3bbb .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-7d0b3bbb .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-7d0b3bbb .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-7d0b3bbb > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-2ad1e4c8{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2800f39f{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-4084ed1a > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-21bbc497{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2bd4c320{--display:flex;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-2de3a46e{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-2de3a46e:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-2de3a46e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-2de3a46e, .elementor-1278 .elementor-element.elementor-element-2de3a46e::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-5b7b2ae7{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-68fa1117 .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-68fa1117 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-68fa1117 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-68fa1117{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-9c67993{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2931dceb{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-5a64effd .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-5a64effd .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-5a64effd .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-5a64effd > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-33f91fbf{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-252ff616{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-4113d6d5 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-28e121ad{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-4fb50658{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-4fb50658:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-4fb50658 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-4fb50658, .elementor-1278 .elementor-element.elementor-element-4fb50658::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-1638cf94{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-44f12835 .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-44f12835 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-44f12835 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-44f12835{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-6184d21c{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-400204bf{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-36208b95 .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-36208b95 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-36208b95 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-36208b95 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-5adbfa7b{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2a482294{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-2cc8f720 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-3b0ce9d4{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-453b9931{--display:flex;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-1cd1ed53{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-1cd1ed53:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-1cd1ed53 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-1cd1ed53, .elementor-1278 .elementor-element.elementor-element-1cd1ed53::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-42d46a02{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-477af93e .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-477af93e .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-477af93e .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-477af93e{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-147e7b63{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-5b27c815{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-212ed1d7 .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-212ed1d7 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-212ed1d7 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-212ed1d7 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-50ee366b{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-45c0bce5{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-97028c5 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-442de582{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-41b457ba{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-41b457ba:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-41b457ba > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1278 .elementor-element.elementor-element-41b457ba, .elementor-1278 .elementor-element.elementor-element-41b457ba::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-6b494cbe{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-23aa6c02 .elementor-image-box-wrapper{text-align:left;}.elementor-1278 .elementor-element.elementor-element-23aa6c02 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-23aa6c02 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-23aa6c02{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1278 .elementor-element.elementor-element-5ccffe9f{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-4ddfc77b{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-141c2b5 .elementor-image-box-wrapper{text-align:center;}.elementor-1278 .elementor-element.elementor-element-141c2b5 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1278 .elementor-element.elementor-element-141c2b5 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1278 .elementor-element.elementor-element-141c2b5 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1278 .elementor-element.elementor-element-178c6187{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-70ebd0fe{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-66e4e7bd > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1278 .elementor-element.elementor-element-2647f9ed{--display:flex;--background-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-c51c9dc{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:50px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-c51c9dc:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-c51c9dc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-1278 .elementor-element.elementor-element-c51c9dc, .elementor-1278 .elementor-element.elementor-element-c51c9dc::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-cbace1a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-3fd1dee > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-f64d3a6 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-928533b > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-6b25083 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-bcf152a{text-align:center;}.elementor-1278 .elementor-element.elementor-element-bcf152a .elementor-heading-title{font-size:24px;line-height:1px;letter-spacing:0.4px;}.elementor-1278 .elementor-element.elementor-element-bcf152a > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-1e502143{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;--overlay-opacity:0.5;--padding-top:60px;--padding-bottom:60px;--padding-left:0px;--padding-right:0px;}.elementor-1278 .elementor-element.elementor-element-1e502143:not(.elementor-motion-effects-element-type-background), .elementor-1278 .elementor-element.elementor-element-1e502143 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-1278 .elementor-element.elementor-element-1e502143::before, .elementor-1278 .elementor-element.elementor-element-1e502143 > .elementor-background-video-container::before, .elementor-1278 .elementor-element.elementor-element-1e502143 > .e-con-inner > .elementor-background-video-container::before, .elementor-1278 .elementor-element.elementor-element-1e502143 > .elementor-background-slideshow::before, .elementor-1278 .elementor-element.elementor-element-1e502143 > .e-con-inner > .elementor-background-slideshow::before, .elementor-1278 .elementor-element.elementor-element-1e502143 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:transparent;background-image:linear-gradient(180deg, #000000 0%, #810000 100%);}.elementor-1278 .elementor-element.elementor-element-1e502143, .elementor-1278 .elementor-element.elementor-element-1e502143::before{--border-transition:0.3s;}.elementor-1278 .elementor-element.elementor-element-1e7e861c{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:flex-start;--background-transition:0.3s;--padding-top:0%;--padding-bottom:0%;--padding-left:8%;--padding-right:0%;}.elementor-1278 .elementor-element.elementor-element-722ea8a1 .elementor-heading-title{color:#FFFFFF;font-size:37px;line-height:1.4em;}.elementor-1278 .elementor-element.elementor-element-74efcd53{color:#FFFFFF;font-size:18px;}.elementor-1278 .elementor-element.elementor-element-36ea1289{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--background-transition:0.3s;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-1278 .elementor-element.elementor-element-791df9b5{--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-2800f39f{--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-252ff616{--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-2a482294{--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-45c0bce5{--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-70ebd0fe{--grid-auto-flow:row;}}@media(min-width:768px){.elementor-1278 .elementor-element.elementor-element-64f390{width:18%;}.elementor-1278 .elementor-element.elementor-element-127cf422{width:66%;}.elementor-1278 .elementor-element.elementor-element-46b37619{width:23%;}.elementor-1278 .elementor-element.elementor-element-1332a72e{width:77%;}.elementor-1278 .elementor-element.elementor-element-749b89e6{--width:70%;}.elementor-1278 .elementor-element.elementor-element-351a0fa7{--width:100%;}.elementor-1278 .elementor-element.elementor-element-59e40698{--width:80%;}.elementor-1278 .elementor-element.elementor-element-47bc8853{--width:80%;}.elementor-1278 .elementor-element.elementor-element-5b8a1d4c{--width:70%;}.elementor-1278 .elementor-element.elementor-element-4901d4a0{--width:100%;}.elementor-1278 .elementor-element.elementor-element-2ad1e4c8{--width:80%;}.elementor-1278 .elementor-element.elementor-element-21bbc497{--width:80%;}.elementor-1278 .elementor-element.elementor-element-9c67993{--width:70%;}.elementor-1278 .elementor-element.elementor-element-2931dceb{--width:100%;}.elementor-1278 .elementor-element.elementor-element-33f91fbf{--width:80%;}.elementor-1278 .elementor-element.elementor-element-28e121ad{--width:80%;}.elementor-1278 .elementor-element.elementor-element-6184d21c{--width:70%;}.elementor-1278 .elementor-element.elementor-element-400204bf{--width:100%;}.elementor-1278 .elementor-element.elementor-element-5adbfa7b{--width:80%;}.elementor-1278 .elementor-element.elementor-element-3b0ce9d4{--width:80%;}.elementor-1278 .elementor-element.elementor-element-147e7b63{--width:70%;}.elementor-1278 .elementor-element.elementor-element-5b27c815{--width:100%;}.elementor-1278 .elementor-element.elementor-element-50ee366b{--width:80%;}.elementor-1278 .elementor-element.elementor-element-442de582{--width:80%;}.elementor-1278 .elementor-element.elementor-element-5ccffe9f{--width:70%;}.elementor-1278 .elementor-element.elementor-element-4ddfc77b{--width:100%;}.elementor-1278 .elementor-element.elementor-element-178c6187{--width:80%;}.elementor-1278 .elementor-element.elementor-element-2647f9ed{--width:80%;}.elementor-1278 .elementor-element.elementor-element-2daba2e6{width:15.556%;}.elementor-1278 .elementor-element.elementor-element-1e7e861c{--width:50%;}.elementor-1278 .elementor-element.elementor-element-36ea1289{--width:50%;}}@media(max-width:767px){.elementor-1278 .elementor-element.elementor-element-65b13f81 .elementor-image-box-img{margin-bottom:14px;}.elementor-1278 .elementor-element.elementor-element-749b89e6{--width:40%;}.elementor-1278 .elementor-element.elementor-element-351a0fa7{--width:60%;}.elementor-1278 .elementor-element.elementor-element-59e40698{--width:1000%;}.elementor-1278 .elementor-element.elementor-element-791df9b5{--e-con-grid-template-columns:2;--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 16px;--grid-auto-flow:column;}.elementor-1278 .elementor-element.elementor-element-5b8a1d4c{--width:40%;}.elementor-1278 .elementor-element.elementor-element-4901d4a0{--width:60%;}.elementor-1278 .elementor-element.elementor-element-2800f39f{--e-con-grid-template-columns:3;--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 16px;--grid-auto-flow:column;}.elementor-1278 .elementor-element.elementor-element-9c67993{--width:40%;}.elementor-1278 .elementor-element.elementor-element-2931dceb{--width:60%;}.elementor-1278 .elementor-element.elementor-element-252ff616{--e-con-grid-template-columns:1;--grid-auto-flow:row;}.elementor-1278 .elementor-element.elementor-element-6184d21c{--width:40%;}.elementor-1278 .elementor-element.elementor-element-400204bf{--width:60%;}.elementor-1278 .elementor-element.elementor-element-2a482294{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1278 .elementor-element.elementor-element-147e7b63{--width:40%;}.elementor-1278 .elementor-element.elementor-element-5b27c815{--width:60%;}.elementor-1278 .elementor-element.elementor-element-45c0bce5{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1278 .elementor-element.elementor-element-70ebd0fe{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1278 .elementor-element.elementor-element-cbace1a > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-3fd1dee > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-928533b > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-bcf152a .elementor-heading-title{font-size:20px;}.elementor-1278 .elementor-element.elementor-element-bcf152a > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1278 .elementor-element.elementor-element-1e502143{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1278 .elementor-element.elementor-element-1e7e861c{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-1278 .elementor-element.elementor-element-722ea8a1{text-align:center;}}/* Start custom CSS for icon-list, class: .elementor-element-5239e88a */.elementor-1278 .elementor-element.elementor-element-5239e88a {
    position: sticky;
    top: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-46b37619 */.elementor-1278 .elementor-element.elementor-element-46b37619:before {
    content: "";
    clip-path: polygon(0 -1px, 100% -1px, 1px 100%, 0 100%);
    width: 18px;
    height: calc(100% + 0px);
    position: absolute;
    right: -17px;
        background: linear-gradient(180deg, #C10930 0, #c10930);

}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1b6ffa3e */.live-ctn {
    text-align: center;
}


.live-ctn span {
    color: #03b37f;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.live-ctn:after {
    content: "";
    background-color: #03b37f;
    height: 2px;
    position: absolute;
    bottom: -1px;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
}


@keyframes run {
    0% {
    left: 0;
    width: 5%;
}
50% {
    width: 100%;
}
100% {
    right: 0;
    width: 5%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6b0d34f0 */.game-bm {
    background: #c10930;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-7567c4a9 */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-9f2e4fb */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2077097d */.live-ctn {
    text-align: center;
}


.live-ctn span {
    color: #03b37f;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.live-ctn:after {
    content: "";
    background-color: #03b37f;
    height: 2px;
    position: absolute;
    bottom: -1px;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
}


@keyframes run {
    0% {
    left: 0;
    width: 5%;
}
50% {
    width: 100%;
}
100% {
    right: 0;
    width: 5%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-61429cf2 */.game-bm {
    background: #c10930;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-23c3e014 */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-468cfecf */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-64a9a32b */.live-ctn {
    text-align: center;
}


.live-ctn span {
    color: #03b37f;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.live-ctn:after {
    content: "";
    background-color: #03b37f;
    height: 2px;
    position: absolute;
    bottom: -1px;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
}


@keyframes run {
    0% {
    left: 0;
    width: 5%;
}
50% {
    width: 100%;
}
100% {
    right: 0;
    width: 5%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-40bd4ad8 */.game-bm {
    background: #c10930;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-787c2d */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-424b6dcd */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */