.elementor-1279 .elementor-element.elementor-element-652c57f{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-23200c5f:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-23200c5f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F8F8FF;}.elementor-1279 .elementor-element.elementor-element-23200c5f{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-25px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-23200c5f > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1279 .elementor-element.elementor-element-709a85bb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1279 .elementor-element.elementor-element-709a85bb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-709a85bb > .elementor-element-populated{box-shadow:0px 10px 10px 0px rgba(0, 0, 0, 0.1);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1279 .elementor-element.elementor-element-709a85bb > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(16px/2);}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(16px/2);}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(16px/2);margin-left:calc(16px/2);}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-16px/2);margin-left:calc(-16px/2);}body.rtl .elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-16px/2);}body:not(.rtl) .elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-16px/2);}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-item:not(:last-child):after{content:"";border-color:#ddd;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after{border-top-style:solid;border-top-width:1px;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-style:solid;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after{border-left-width:1px;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-1279 .elementor-element.elementor-element-538ecc09{--e-icon-list-icon-size:20px;--icon-vertical-offset:0px;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-item > a{font-size:14px;font-weight:600;}.elementor-1279 .elementor-element.elementor-element-538ecc09 .elementor-icon-list-text{color:#000000;transition:color 0.3s;}.elementor-1279 .elementor-element.elementor-element-69fd2db{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1279 .elementor-element.elementor-element-69fd2db > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-1279 .elementor-element.elementor-element-577833b.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-1279 .elementor-element.elementor-element-577833b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-1279 .elementor-element.elementor-element-577833b:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-1279 .elementor-element.elementor-element-577833b > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#C10930;}.elementor-1279 .elementor-element.elementor-element-577833b > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1279 .elementor-element.elementor-element-577833b > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1279 .elementor-element.elementor-element-691a96b4.elementor-position-right .elementor-image-box-img{margin-left:14px;}.elementor-1279 .elementor-element.elementor-element-691a96b4.elementor-position-left .elementor-image-box-img{margin-right:14px;}.elementor-1279 .elementor-element.elementor-element-691a96b4.elementor-position-top .elementor-image-box-img{margin-bottom:14px;}.elementor-1279 .elementor-element.elementor-element-691a96b4 .elementor-image-box-title{margin-bottom:0px;}.elementor-1279 .elementor-element.elementor-element-691a96b4 .elementor-image-box-wrapper .elementor-image-box-img{width:22%;}.elementor-1279 .elementor-element.elementor-element-691a96b4 .elementor-image-box-img img{transition-duration:0.3s;}.elementor-1279 .elementor-element.elementor-element-a7fe918 > .elementor-element-populated, .elementor-1279 .elementor-element.elementor-element-a7fe918 > .elementor-element-populated > .elementor-background-overlay, .elementor-1279 .elementor-element.elementor-element-a7fe918 > .elementor-background-slideshow{border-radius:8px 8px 8px 8px;}.elementor-1279 .elementor-element.elementor-element-a7fe918 > .elementor-element-populated{box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.2);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1279 .elementor-element.elementor-element-a7fe918 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1279 .elementor-element.elementor-element-aa8553d{--display:flex;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-1b80787f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-1b80787f:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-1b80787f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-1b80787f, .elementor-1279 .elementor-element.elementor-element-1b80787f::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-62d08bc1{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-7d686771 .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-7d686771 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-7d686771 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-7d686771{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-598f787b{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-4a1d023f{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-5b66b0e4 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-5b66b0e4 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-5b66b0e4 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-5b66b0e4 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-359a8664{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-46f5ac13{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-1f40d872 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-22730e1{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-75d8cdb3{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-75d8cdb3:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-75d8cdb3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-75d8cdb3, .elementor-1279 .elementor-element.elementor-element-75d8cdb3::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-12cee463{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-7636daf1 .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-7636daf1 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-7636daf1 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-7636daf1{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-2ae2e66d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-50b48f21{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-284fd889 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-284fd889 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-284fd889 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-284fd889 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-188c3c5d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-6b270e39{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-5d0fe0d8 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-173d0bad{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-3641042{--display:flex;--gap:0px 0px;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-19f9c94c{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-19f9c94c:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-19f9c94c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-19f9c94c, .elementor-1279 .elementor-element.elementor-element-19f9c94c::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-2226381a{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-669d52ae .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-669d52ae .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-669d52ae .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-669d52ae{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-20597381{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-25adb40b{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-37074fd0 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-37074fd0 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-37074fd0 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-37074fd0 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-5ba1b509{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-59cc91d1{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-3a5fb34 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-7faf61fc{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-4ea1684f{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-4ea1684f:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-4ea1684f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-4ea1684f, .elementor-1279 .elementor-element.elementor-element-4ea1684f::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-35b4ca3d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-1008c87f .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-1008c87f .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-1008c87f .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-1008c87f{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-1a8dad9b{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-69c911eb{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-696c566 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-696c566 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-696c566 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-696c566 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-236ae0d6{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-45297dfa{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-1f9b001d > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-57dcb11d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-f2fab96{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-f2fab96:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-f2fab96 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-f2fab96, .elementor-1279 .elementor-element.elementor-element-f2fab96::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-dc6609c{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-334d4e3 .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-334d4e3 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-334d4e3 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-334d4e3{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-133749f{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-9fbf857{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-97f5da7 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-97f5da7 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-97f5da7 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-97f5da7 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-f696f7f{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-ac38379{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-f3b6ab5 > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-44838d9{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-a333fed{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-a333fed:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-a333fed > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-a333fed, .elementor-1279 .elementor-element.elementor-element-a333fed::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-0e75e82{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-556f12d .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-556f12d .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-556f12d .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-556f12d{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-961a039{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-554b8c7{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-62953b9 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-62953b9 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-62953b9 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-62953b9 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-9a35955{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-90935ad{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-d1fcafb > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-87285c4{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-1b5ad27{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--align-items:center;--gap:0px 0px;--background-transition:0.3s;box-shadow:0px 20px 20px 0px rgba(0, 0, 0, 0.1);--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-1b5ad27:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-1b5ad27 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-1279 .elementor-element.elementor-element-1b5ad27, .elementor-1279 .elementor-element.elementor-element-1b5ad27::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-24b0539{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-5170ecd .elementor-image-box-wrapper{text-align:left;}.elementor-1279 .elementor-element.elementor-element-5170ecd .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-5170ecd .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-5170ecd{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-1279 .elementor-element.elementor-element-d711694{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-cafe23d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-8333f77 .elementor-image-box-wrapper{text-align:center;}.elementor-1279 .elementor-element.elementor-element-8333f77 .elementor-image-box-title{margin-bottom:4px;color:#000000;}.elementor-1279 .elementor-element.elementor-element-8333f77 .elementor-image-box-description{color:#000000;font-size:14px;}.elementor-1279 .elementor-element.elementor-element-8333f77 > .elementor-widget-container{padding:10px 0px 10px 0px;background-color:#FF73000A;}.elementor-1279 .elementor-element.elementor-element-a09045d{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-92bc536{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 0px;--grid-auto-flow:row;--justify-items:end;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-437160e > .elementor-widget-container{padding:4px 0px 0px 0px;}.elementor-1279 .elementor-element.elementor-element-8111bda{--display:flex;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-9745251{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-9745251:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-9745251 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-1279 .elementor-element.elementor-element-9745251, .elementor-1279 .elementor-element.elementor-element-9745251::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-cb310a5 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1279 .elementor-element.elementor-element-c405fe9 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1279 .elementor-element.elementor-element-57fce69 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1279 .elementor-element.elementor-element-0c288d5 > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1279 .elementor-element.elementor-element-49dcc1e > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-1279 .elementor-element.elementor-element-3298fc6{text-align:center;}.elementor-1279 .elementor-element.elementor-element-3298fc6 .elementor-heading-title{font-size:24px;line-height:1px;letter-spacing:0.4px;}.elementor-1279 .elementor-element.elementor-element-3df3b393{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--background-transition:0.3s;--overlay-opacity:0.5;--padding-top:60px;--padding-bottom:60px;--padding-left:0px;--padding-right:0px;}.elementor-1279 .elementor-element.elementor-element-3df3b393:not(.elementor-motion-effects-element-type-background), .elementor-1279 .elementor-element.elementor-element-3df3b393 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-1279 .elementor-element.elementor-element-3df3b393::before, .elementor-1279 .elementor-element.elementor-element-3df3b393 > .elementor-background-video-container::before, .elementor-1279 .elementor-element.elementor-element-3df3b393 > .e-con-inner > .elementor-background-video-container::before, .elementor-1279 .elementor-element.elementor-element-3df3b393 > .elementor-background-slideshow::before, .elementor-1279 .elementor-element.elementor-element-3df3b393 > .e-con-inner > .elementor-background-slideshow::before, .elementor-1279 .elementor-element.elementor-element-3df3b393 > .elementor-motion-effects-container > .elementor-motion-effects-layer::before{--background-overlay:'';background-color:transparent;background-image:linear-gradient(180deg, #000000 0%, #810000 100%);}.elementor-1279 .elementor-element.elementor-element-3df3b393, .elementor-1279 .elementor-element.elementor-element-3df3b393::before{--border-transition:0.3s;}.elementor-1279 .elementor-element.elementor-element-7e641970{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:flex-start;--background-transition:0.3s;--padding-top:0%;--padding-bottom:0%;--padding-left:8%;--padding-right:0%;}.elementor-1279 .elementor-element.elementor-element-6dac182d .elementor-heading-title{color:#FFFFFF;font-size:37px;line-height:1.4em;}.elementor-1279 .elementor-element.elementor-element-1f50adc{color:#FFFFFF;font-size:18px;}.elementor-1279 .elementor-element.elementor-element-31d6a362{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--background-transition:0.3s;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-1279 .elementor-element.elementor-element-46f5ac13{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-6b270e39{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-59cc91d1{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-45297dfa{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-ac38379{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-90935ad{--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-92bc536{--grid-auto-flow:row;}}@media(min-width:768px){.elementor-1279 .elementor-element.elementor-element-709a85bb{width:18%;}.elementor-1279 .elementor-element.elementor-element-635f173e{width:66%;}.elementor-1279 .elementor-element.elementor-element-577833b{width:23%;}.elementor-1279 .elementor-element.elementor-element-a7fe918{width:77%;}.elementor-1279 .elementor-element.elementor-element-598f787b{--width:70%;}.elementor-1279 .elementor-element.elementor-element-4a1d023f{--width:100%;}.elementor-1279 .elementor-element.elementor-element-359a8664{--width:80%;}.elementor-1279 .elementor-element.elementor-element-22730e1{--width:80%;}.elementor-1279 .elementor-element.elementor-element-2ae2e66d{--width:70%;}.elementor-1279 .elementor-element.elementor-element-50b48f21{--width:100%;}.elementor-1279 .elementor-element.elementor-element-188c3c5d{--width:80%;}.elementor-1279 .elementor-element.elementor-element-173d0bad{--width:80%;}.elementor-1279 .elementor-element.elementor-element-20597381{--width:70%;}.elementor-1279 .elementor-element.elementor-element-25adb40b{--width:100%;}.elementor-1279 .elementor-element.elementor-element-5ba1b509{--width:80%;}.elementor-1279 .elementor-element.elementor-element-7faf61fc{--width:80%;}.elementor-1279 .elementor-element.elementor-element-1a8dad9b{--width:70%;}.elementor-1279 .elementor-element.elementor-element-69c911eb{--width:100%;}.elementor-1279 .elementor-element.elementor-element-236ae0d6{--width:80%;}.elementor-1279 .elementor-element.elementor-element-57dcb11d{--width:80%;}.elementor-1279 .elementor-element.elementor-element-133749f{--width:70%;}.elementor-1279 .elementor-element.elementor-element-9fbf857{--width:100%;}.elementor-1279 .elementor-element.elementor-element-f696f7f{--width:80%;}.elementor-1279 .elementor-element.elementor-element-44838d9{--width:80%;}.elementor-1279 .elementor-element.elementor-element-961a039{--width:70%;}.elementor-1279 .elementor-element.elementor-element-554b8c7{--width:100%;}.elementor-1279 .elementor-element.elementor-element-9a35955{--width:80%;}.elementor-1279 .elementor-element.elementor-element-87285c4{--width:80%;}.elementor-1279 .elementor-element.elementor-element-d711694{--width:70%;}.elementor-1279 .elementor-element.elementor-element-cafe23d{--width:100%;}.elementor-1279 .elementor-element.elementor-element-a09045d{--width:80%;}.elementor-1279 .elementor-element.elementor-element-8111bda{--width:80%;}.elementor-1279 .elementor-element.elementor-element-350fb519{width:15.556%;}.elementor-1279 .elementor-element.elementor-element-7e641970{--width:50%;}.elementor-1279 .elementor-element.elementor-element-31d6a362{--width:50%;}}@media(max-width:767px){.elementor-1279 .elementor-element.elementor-element-691a96b4 .elementor-image-box-img{margin-bottom:14px;}.elementor-1279 .elementor-element.elementor-element-598f787b{--width:40%;}.elementor-1279 .elementor-element.elementor-element-4a1d023f{--width:60%;}.elementor-1279 .elementor-element.elementor-element-46f5ac13{--e-con-grid-template-columns:1;--grid-auto-flow:row;}.elementor-1279 .elementor-element.elementor-element-2ae2e66d{--width:40%;}.elementor-1279 .elementor-element.elementor-element-50b48f21{--width:60%;}.elementor-1279 .elementor-element.elementor-element-6b270e39{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-20597381{--width:40%;}.elementor-1279 .elementor-element.elementor-element-25adb40b{--width:60%;}.elementor-1279 .elementor-element.elementor-element-59cc91d1{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-45297dfa{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-ac38379{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-90935ad{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-92bc536{--e-con-grid-template-columns:1;--gap:0px 16px;--grid-auto-flow:column;}.elementor-1279 .elementor-element.elementor-element-3df3b393{--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-1279 .elementor-element.elementor-element-7e641970{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );}.elementor-1279 .elementor-element.elementor-element-6dac182d{text-align:center;}}/* Start custom CSS for icon-list, class: .elementor-element-538ecc09 */.elementor-1279 .elementor-element.elementor-element-538ecc09 {
    position: sticky;
    top: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-577833b */.elementor-1279 .elementor-element.elementor-element-577833b:before {
    content: "";
    clip-path: polygon(0 -1px, 100% -1px, 1px 100%, 0 100%);
    width: 18px;
    height: calc(100% + 0px);
    position: absolute;
    right: -17px;
        background: linear-gradient(180deg, #C10930 0, #c10930);

}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6c099875 */.live-ctn {
    text-align: center;
}


.live-ctn span {
    color: #03b37f;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.live-ctn:after {
    content: "";
    background-color: #03b37f;
    height: 2px;
    position: absolute;
    bottom: -1px;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
}


@keyframes run {
    0% {
    left: 0;
    width: 5%;
}
50% {
    width: 100%;
}
100% {
    right: 0;
    width: 5%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-6a113e4c */.game-bm {
    background: #c10930;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-60c5553c */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-1fc5a16e */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-661f5920 */.live-ctn {
    text-align: center;
}


.live-ctn span {
    color: #03b37f;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.live-ctn:after {
    content: "";
    background-color: #03b37f;
    height: 2px;
    position: absolute;
    bottom: -1px;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 1.2s;
}


@keyframes run {
    0% {
    left: 0;
    width: 5%;
}
50% {
    width: 100%;
}
100% {
    right: 0;
    width: 5%;
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-2cfbf948 */.game-bm {
    background: #c10930;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5dfbd98d */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-66bc397e */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5f17dcc */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-841ed4e */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-916ac20 */.fancy {
    --offset: 3px;
   background: linear-gradient(180deg, #C10930 0, #c10930);
   text-align: center;
    border-radius: 50px;
    position: relative;
    height: 44px;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, #DAA735, #DAA735);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}


.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy span {
    background: transparent;
    color: white;
    font-size: 1.6rem;
    position: absolute;
    inset: 0;
    z-index: 10;
    padding: 8px 0;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}/* End custom CSS */